<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ if .IsPage }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    {{ $stylemain := resources.Get "css/main.css" | minify | fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $stylemain.RelPermalink }}" integrity="{{ $stylemain.Data.Integrity }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{{ .Site.Params.author}}" />
    <meta name="description" content="{{ if .IsPage }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="og:type" content="blog" />
    <meta name="og:url" content="{{ .Permalink }}" />
    <meta name="og:title" content="{{ if .IsPage }}{{ .Title }} | {{ end }}{{ .Site.Title }}" />
    <meta name="og:description" content="{{ if .IsPage }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}" />
    <meta name="og:image" content="{{ .Site.BaseURL }}/{{ .Site.Params.logo }}" />
    {{ if .Params.noindex }}
    <meta name="robots" content="noindex" />
    {{ end }}
    <link rel="apple-touch-icon" sizes="300x300" type="image/png" href="avatar.png">
    <link rel="icon" type="image/png" sizes="300x300" href="avatar.png">
  </head>
  <body>
    <main class="container">
      {{- partial "header.html" . -}}
      {{- block "main" . }}{{- end }}
      {{- partial "footer.html" . -}}
    </main>
  </body>
</html>
