{{ define "main" }}
<article>
    {{ $globalJS := resources.Get "js/main.js" | minify | fingerprint "sha512" }}
    <script src="{{ $globalJS.RelPermalink }}" integrity="{{ $globalJS.Data.Integrity }}"></script>
    <header>
        <h1>Marcus Olsson</h1>
        <h4>Software Developer</h4>
        <h4>Developer Advocate</h4>
    </header>
    <section class="resume">
        <section>
            <section class="resume-category">
                <ul>
                    {{ range $.Site.Data.resume.highlights }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </section>
            <section class="resume-category">
                <header>
                    <h2>Experience</h2>
                </header>
                {{ range first 5 $.Site.Data.resume.positions }}
                <section class="resume-position">
                    <div class="resume-position-header">
                        <div class="resume-position-period overline">
                            <div>{{ .ended }}</div>
                            <div>{{ .started }}</div>
                        </div>
                        <div>
                            <h5>{{ .title }}</h5>
                            <h6 class="resume-position-location">{{ .employer }}</h6>
                        </div>
                    </div>
                    <p>{{ .description }}</p>
                    <ul>
                        {{ range .highlights }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                    {{ if .technologies }}
                    <h6>Technologies</h6>
                    <p>{{ .technologies }}</p>
                    {{ end }}
                </section>
                {{ end }}
                <p style="text-align: center">
                <a onclick="myFunction()" class="button" style="cursor: pointer">Click to see previous positions</a>
                </p>
                <br/>
                <div id="previous-positions" style="display: none">
                {{ range after 5 $.Site.Data.resume.positions }}
                <section class="resume-position">
                    <div class="resume-position-header">
                        <div class="resume-position-period overline">
                            <div>{{ .ended }}</div>
                            <div>{{ .started }}</div>
                        </div>
                        <div>
                            <h5>{{ .title }}</h5>
                            <h6 class="resume-position-location">{{ .employer }}</h6>
                        </div>
                    </div>
                    <p>{{ .description }}</p>
                    <ul>
                        {{ range .highlights }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                    <h6>Technologies</h6>
                    <p>{{ .technologies }}</p>
                </section>
                {{ end }}
                </div>
            </section>
            <section class="resume-category">
                <header>
                    <h2>Education</h2>
                </header>
                {{ range $.Site.Data.resume.education }}
                <section class="resume-position">
                    <div class="resume-position-header">
                        <div class="resume-position-period overline">
                            <div>{{ .ended }}</div>
                            <div>{{ .started }}</div>
                        </div>
                        <div>
                            <h5>{{ .title }}</h5>
                            <h6 class="resume-position-location">{{ .location }}</h6>
                        </div>
                    </div>
                </section>
                {{ end }}
            </section>
            <section class="resume-category">
                <header>
                    <h2>Training and Certifications</h2>
                </header>
                <section>
                    <ul>
                        {{ range $.Site.Data.resume.training }}
                        <li>{{ . }}</li>
                        {{ end }}
                </section>
            </section>
        </section>
    </section>
</article>
{{ end }}
