@charset "UTF-8";
:root {
  --font-family: -apple-system, blinkmacsystemfont, Segoe UI, roboto, oxygen,
    ubuntu, cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-family--mono: SFMono-Regular, consolas, Liberation Mono, menlo, courier,
    monospace;
  --rgb-white: 255, 255, 255;
  --rgb-black: 0, 0, 0;
  --rgb-dark-grey: 31, 31, 31;
  --rgb-blue: 85, 163, 240;
  --dark: 30, 34, 38;
  --text-emphasis-high: 0.87;
  --text-emphasis-low: 0.6;
  --text-emphasis-disabled: 0.47;
  --text-color-primary: rgba(var(--rgb-black), var(--text-emphasis-high));
  --text-color-secondary: rgba(var(--rgb-black), var(--text-emphasis-low));
  --text-color-disabled: rgba(var(--rgb-black), var(--text-emphasis-disabled));
  --text-color-interactive: rgba(var(--rgb-blue), var(--text-emphasis-high));
  --font-size-xx-small: 1.2rem;
  --font-size-x-small: 1.4rem;
  --font-size-small: 1.6rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2rem;
  --font-size-x-large: 2.8rem;
  --font-size-xx-large: 4rem;
  --font-size-base: 11px;
  --spacing-large: 2rem;
  --spacing-medium: 1.8rem;
  --spacing-small: 1.6rem;
  --border-radius: 4px;
  --background-color: rgb(var(--rgb-white));
  --surface-shadow: $box-shadow-low;
  --surface-overlay: 0.02;
  --surface-color: rgba(var(--rgb-white), var(--surface-overlay));
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-primary: rgba(255, 255, 255, 0.87);
    --text-color-secondary: rgba(255, 255, 255, 0.6);
    --text-color-disabled: rgba(255, 255, 255, 0.38);
    --text-color-interactive: #2edb6e;
    --background-color: #1e1e1e;
    --surface-shadow: $box-shadow-low;
  }
}
* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size-base);
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color-primary);
  font-family: var(--font-family);
  font-size: var(--font-size-small);
}

a {
  background-color: transparent;
  color: var(--text-color-interactive);
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 1em;
  word-spacing: 0.05em;
}
p:last-child {
  margin-bottom: 0;
}

code {
  font-family: var(--font-family--mono);
  font-size: var(--font-size-x-small);
  margin-bottom: 2rem;
}

pre {
  font-family: var(--font-family--mono);
  font-size: var(--font-size-x-small);
  padding: 1rem;
  margin: 2rem 0;
  overflow: scroll;
  border-radius: var(--border-radius);
}

img {
  border: 0;
}

ul {
  margin-bottom: 2rem;
  margin-left: 2rem;
}

li {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1,
h2,
h3 {
  margin-bottom: 0.5em;
}

h5,
h6 {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h1 {
  font-size: var(--font-size-xx-large);
  font-weight: 500;
}

h2 {
  font-size: var(--font-size-x-large);
  font-weight: 500;
}

h3 {
  font-size: var(--font-size-large);
  font-weight: 500;
}

h4 {
  font-size: var(--font-size-small);
  font-weight: 600;
}

h5 {
  font-size: var(--font-size-x-small);
  font-weight: 600;
}

h6 {
  font-size: var(--font-size-xx-small);
  font-weight: 600;
}

h2 a,
h3 a,
footer a {
  color: var(--text-color-primary);
}

h2 a:hover,
h3 a:hover {
  color: var(--text-color-primary);
  text-decoration: none;
}

.overline {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: var(--font-size-xx-small);
  font-weight: 500;
}

.publication-date {
  font-size: var(--font-size-small);
  color: var(--text-color-secondary);
}

.text-xs {
  font-size: var(--font-size-x-small);
}

.text-sm {
  font-size: var(--font-size-small);
}

.text-md {
  font-size: var(--font-size-medium);
}

.text-lg {
  font-size: var(--font-size-large);
}

.text-xl {
  font-size: var(--font-size-x-large);
}

.text--primary {
  color: var(--text-color-primary);
}

.text-secondary {
  color: var(--text-color-secondary);
}

.text--disabled {
  color: var(--text-color-disabled);
}

.text--interactive {
  color: var(--text-color-interactive);
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: var(--font-size-x-small);
  padding: 1rem;
}

.container {
  display: block;
  margin: 1rem;
}

.footer {
  padding: 6rem 0 3rem;
}

.page {
  margin-bottom: var(--spacing-large);
}
.page:last-child {
  margin-bottom: 0;
}
.page__header {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }

  .header {
    width: auto;
    flex-direction: row;
  }
}
.section__header {
  margin: 4rem 0;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.gap-8 {
  gap: 2rem;
}

.m-0 {
  margin: 0;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.ml-8 {
  margin-left: 2rem;
}

.ml-16 {
  margin-left: 4rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-16 {
  margin-top: 4rem;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.list-primary,
.list-secondary {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-primary {
  border-radius: 10px;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 16px;
  margin: 0;
}
.nav__link {
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen,
    ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 8px;
  cursor: pointer;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.38);
}
.nav__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.card {
  padding: 0;
  border-radius: 10px;
  background-color: #232323;
  border: 1px solid #282828;
  box-shadow: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--surface-color);
}
.card__media img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.card__body {
  padding: var(--spacing-medium);
  font-size: var(--font-size-medium);
}
.card__body--sm {
  padding: var(--spacing-small);
  font-size: var(--font-size-small);
}
.card__title {
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}
.card__title:last-child {
  margin-bottom: 0;
}
.card__title a {
  color: var(--text-color-primary);
}
.card__title a:hover {
  text-decoration: none;
}

.brand__title {
  font-size: var(--font-size-small);
  font-weight: 700;
}
.brand__subtitle {
  font-size: var(--font-size-small);
  font-weight: 400;
}

.social {
  padding-bottom: 1rem;
}
.social__icon {
  padding: 1rem;
}
.social__icon:hover {
  text-decoration: none;
}
.social__icon:hover svg {
  fill: var(--text-color-primary);
}
.social__icon svg {
  fill: var(--text-color-disabled);
  height: 24px;
  width: 24px;
}

.resume-position {
  margin-bottom: 6rem;
}
.resume-position h6 {
  color: var(--text-color-disabled);
}
.resume-position__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  flex-direction: column;
}
.resume-position__header:last-child {
  margin-bottom: 0;
}
.resume-position__period {
  display: flex;
  flex-direction: row;
}
.resume-position__period > *:last-child::before {
  content: "–";
}

.btn {
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen,
    ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.87);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
  border-radius: 9999px;
  font-weight: 500;
  padding: 4px 16px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  background-color: transparent;
  border: 2px solid #323232;
}
.btn:hover {
  color: white;
  transition: all 0.2s;
}
.btn:hover {
  border: 2px solid #2edb6e;
}

@media screen and (min-width: 700px) {
  .resume-position-header {
    flex-direction: row;
  }

  .resume-position-period {
    text-align: right;
    flex-direction: column-reverse;
  }

  .resume-position-period > *:last-child::before {
    content: none;
  }

  .nav {
    width: auto;
    flex-direction: row;
  }

  .brand {
    padding: 1rem;
  }
}
.skip-link {
  position: absolute;
  top: auto;
  left: -999px;
  width: 1px;
  height: 1px;
}
.skip-link:focus {
  font-size: var(--font-size-small);
  padding: var(--spacing-small);
  color: rgba(var(--rgb-white), var(--text-emphasis-high));
  background-color: rgba(var(--rgb-blue), 1);
  display: inline-block;
  height: auto;
  width: auto;
  top: 0;
  left: 0;
  margin: auto;
}

/*# sourceMappingURL=main.scss.map */

h2,
h3 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
