.overline {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: var(--text-xxs);
  font-weight: 500;
  color: var(--color-text-tertiary);
}

.publication-date {
  font-size: var(--text-sm);
  color: var(--color-text-secondary);
}
