:root {
  --font-family: "Inter", -apple-system, blinkmacsystemfont, Segoe UI, roboto,
    oxygen, ubuntu, cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-family--mono: SFMono-Regular, consolas, Liberation Mono, menlo, courier,
    monospace;

  --white: white;
  --black: black;

  --dark-alt: rgb(24, 24, 24);
  --dark-border: rgb(41, 41, 41);
  --gray-1: rgb(24, 24, 24);
  --gray-2: #232323;
  --gray-3: #282828;
  --gray-4: rgb(240, 240, 240);
  --gray-5: rgb(250, 250, 250);
  --gray-6: rgb(255, 255, 255);

  --green: #2edb6e;

  --rgb-white: 255, 255, 255;
  --rgb-black: 0, 0, 0;
  // --rgb-dark-grey: 31, 31, 31;
  // --rgb-blue: 85, 163, 240;

  // --dark-alt: 24, 24, 24;
  // --dark: 30, 34, 38;

  --emphasis-high: 0.87;
  --emphasis-medium: 0.74;
  --emphasis-low: 0.6;

  --color-background: rgb(var(--rgb-white));

  --color-text-primary: rgba(var(--rgb-black), var(--emphasis-high));
  --color-text-secondary: rgba(var(--rgb-black), var(--emphasis-medium));
  --color-text-tertiary: rgba(var(--rgb-black), var(--emphasis-low));

  --color-interactive: #00ab42;

  --text-base: 11px;
  --text-xxs: 1.2rem;
  --text-xs: 1.4rem;
  --text-sm: 1.6rem;
  --text-md: 1.8rem;
  --text-lg: 2rem;
  --text-xl: 2.8rem;
  --text-xxl: 4rem;

  --space-xl: 2.2rem;
  --space-lg: 2rem;
  --space-md: 1.8rem;
  --space-sm: 1.6rem;
  --space-xs: 1rem;
  --space-xxs: 0.2rem;

  --border-radius-lg: 10px;
  --border-radius: 4px;

  --surface-overlay: 0.02;
  --surface-color: rgba(var(--rgb-white), var(--surface-overlay));

  --surface-alt-border: var(--gray-4);
  --surface-alt: #fafafa;

  --card-background: var(--gray-6);
  --card-border: none;
}

[data-theme="dark"] {
  --emphasis-high: 0.87;
  --emphasis-medium: 0.65;
  --emphasis-low: 0.5;

  --color-background: #1e1e1e;

  --color-text-primary: rgba(var(--rgb-white), var(--emphasis-high));
  --color-text-secondary: rgba(var(--rgb-white), var(--emphasis-medium));
  --color-text-tertiary: rgba(var(--rgb-white), var(--emphasis-low));

  --surface-alt: var(--dark-alt);
  --surface-alt-border: var(--dark-border);

  --card-background: var(--gray-2);
  --card-border: rgb(45, 45, 45);

  --color-interactive: var(--green);
}
