:root {
  --font-family: "Inter", -apple-system, blinkmacsystemfont, Segoe UI, roboto,
    oxygen, ubuntu, cantarell, Open Sans, Helvetica Neue, sans-serif;
  --font-family--mono: SFMono-Regular, consolas, Liberation Mono, menlo, courier,
    monospace;

  --rgb-white: 255, 255, 255;
  --rgb-black: 0, 0, 0;
  --rgb-dark-grey: 31, 31, 31;
  --rgb-blue: 85, 163, 240;
  --dark: 30, 34, 38;
  --dark-alt: 24, 24, 24;
  --dark-border: 41, 41, 41;

  --text-emphasis-high: 0.87;
  --text-emphasis-low: 0.6;
  --text-emphasis-disabled: 0.47;

  --text-color-primary: rgba(var(--rgb-black), var(--text-emphasis-high));
  --text-color-secondary: rgba(var(--rgb-black), var(--text-emphasis-low));
  --text-color-disabled: rgba(var(--rgb-black), var(--text-emphasis-disabled));
  --text-color-interactive: rgba(var(--rgb-blue), var(--text-emphasis-high));

  --font-size-xx-small: 1.2rem;
  --font-size-x-small: 1.4rem;
  --font-size-small: 1.6rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2rem;
  --font-size-x-large: 2.8rem;
  --font-size-xx-large: 4rem;
  --font-size-base: 11px;

  --spacing-large: 2rem;
  --spacing-medium: 1.8rem;
  --spacing-small: 1.6rem;

  --border-radius: 4px;
  --background-color: rgb(var(--rgb-white));

  --surface-overlay: 0.02;
  --surface-color: rgba(var(--rgb-white), var(--surface-overlay));

  --surface-alt: rgb(250, 250, 250);
  --surface-alt-border: rgb(240, 240, 240);

  --card-background: rgb(255, 255, 255);
  --card-border: rgb(240, 240, 240);

  --text-color-interactive: #2edb6e;
}

[data-theme="dark"] {
  --text-color-primary: rgba(var(--rgb-white), 0.87);
  --text-color-secondary: rgba(var(--rgb-white), 0.6);
  --text-color-disabled: rgba(var(--rgb-white), 0.38);

  --background-color: #1e1e1e;

  --surface-alt: rgb(var(--dark-alt));
  --surface-alt-border: rgb(var(--dark-border));

  --card-background: #232323;
  --card-border: #282828;
}
