{{ define "main" }}
<section class="text-block">
  <div class="flex">
  <aside class="toc">
    {{ .TableOfContents }}
  </aside>
  <article style="flex-grow: 1">
    <header class="section__header">
      <h1>{{ .Title }}</h1>
      {{- if not .PublishDate.IsZero -}}
      <time datetime="{{ .PublishDate.Format "2006-01-02" }}" class="publication-date">{{ .PublishDate.Format "Jan 2, 2006" }}</time>
      {{- end -}}
    </header>
    <section>
      {{ .Content }}
    </section>
    {{ if and (isset .Params "publisher") (isset .Params "external_url") }}<strong>Read the entire article at <a href="{{ .Params.external_url }}">{{ .Params.publisher }}</a>.</strong>{{ end }}
  </article>
  <aside style="min-width: 170px;">
  </aside>
</div>
</section>
{{ $globalJS := resources.Get "js/main.js" | minify | fingerprint "sha512" }}
<script src="{{ $globalJS.RelPermalink }}" integrity="{{ $globalJS.Data.Integrity }}"></script>
{{ end }}
