{{ define "main" }}
<section class="section">
  <header class="section__header">
    <h1>Hi, I'm Marcus 👋</h1>
    <p>I'm a Software Developer with over ten years of building software for data infrastructure, cloud-native applications, and computer graphics.</p><p>By perpetually learning new concepts and technologies, applying them in interesting ways, and then teaching others how to do the same, I inspire a culture of creativity and learning in the teams I join.</p>
    <p>As a Developer Advocate at <a href="https://grafana.com">Grafana Labs</a>, I help community members build plugins for <a href="https://github.com/grafana/grafana">Grafana</a> by supporting the plugin authors of today, and creating educational content for the plugin authors of tomorrow.</p>
  </header>
  <section>
    <div class="flex items-center justify-between flex-wrap mb-4 mt-8">
      <h2 class="m-0">Featured article</h2>
      <a href="/writing">See more articles</a>
    </div>
    <div class="grid grid-cols-1">
      {{ range where .Site.RegularPages "Section" "writing" }}
      {{ if .Params.featured }}
      <article class="card">
        <div class="card__body">
          <header class="text-center">
            <p class="text-sm text--disabled mb-2">{{ .PublishDate.Format "Jan 2, 2006" }}</p>
            <h3>
              <a href="{{ .Params.external_url | default .Permalink }}">{{ .Title }}</a>
            </h3>
          </header>
          <p>
            {{ .Summary }}
          </p>
        </div>
      </article>
      {{ end }}
      {{ end }}
      </div>
  </section>
  <section>
    <div class="flex items-center justify-between flex-wrap mb-4 mt-8">
      <h2 class="m-0">Featured projects</h2>
      <a href="/projects">See more projects</a>
    </div>
    <div class="grid grid-cols-2 gap-8">
      {{ range $.Site.Data.projects.plugins }}
      {{ if .featured }}
      <div class="card">
        <div class="card__body">
          <div class="flex items-center mb-8">
            <img src="{{ .logo }}" width="32" height="32"  alt="The logo for {{ .name }}.">
            <span class="card__title ml-4">
              <a href="{{ .url }}">{{ .name }}</a>
            </span>
          </div>
          <p>{{ .description }}</p>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </section>
</section>
{{ end }}
